<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listagem de events</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_bar.css') }}" />
</head>
<body>
  {% include 'nav_bar.html' %}

<div class="filter-section">
    <form method="get" class="filter-form">
        <label class="filter-checkbox">
            <input type="checkbox" name="online" value="1" {% if show_online %}checked{% endif %}>
            <span>Online</span>
        </label>
        <label class="filter-checkbox">
            <input type="checkbox" name="irl" value="1" {% if show_irl %}checked{% endif %}>
            <span>Presencial</span>
        </label>
        <button type="submit" class="filter-btn">Filtrar</button>
    </form>
</div>
  <div class="event-list-container">
    <h2>Eventos disponíveis:</h2>

    {% for ev in events %}
    <div class="evento">
      <a href="{{ url_for('rotas.event_details', event_id=ev.id_evento) }}">{{ ev.titulo }}</a>
      <div class="descricao">{{ ev.descricao or '—' }}</div>
      <div class="info-extra">
        <span>Data: {{ ev.data_inicio.strftime('%d/%m/%Y') }}</span>
        <span>Local: {{ ev.local or '—' }}</span>
      </div>
    </div>
    {% else %}
    <p>Não há eventos disponíveis.</p>
    {% endfor %}

  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>