<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_bar.css') }}">

</head>
<body>

    <nav>
        <a href="{{ url_for('inicio') }}">Início</a>
        <a href="{{ url_for('eventos') }}">Eventos</a>
        <a href="{{ url_for('registro') }}">Cadastro</a>
    </nav>

    <div class="container">
        <div class="section">
            <h2>Login</h2>
            <form action="{{ url_for('login') }}" method="post">
                <div>
                    <label for="email">E-mail:</label><br>
                    <input type="email" id="email" name="email" required><br><br>
                </div>
                <div>
                    <label for="senha">Senha:</label><br>
                    <input type="password" id="senha" name="senha" required><br><br>
                </div>
                <button type="submit">Entrar</button>
                <div class="links">
                    <a href="#">Esqueceu a senha?</a>
                    <a href="{{ url_for('registro') }}">Não possui cadastro?</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
