<nav>
  <div class="nav-container">
    <div class="logo">
      <a href="{{ url_for('rotas.home') }}">PluraliZe</a>
    </div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>

    <ul class="nav-links">
      <li><a href="{{ url_for('rotas.home') }}">Início</a></li>
      <li><a href="{{ url_for('rotas.events') }}">Eventos</a></li>

      {% if user and user.tipo.nome not in ['admin'] %}
        <li><a href="{{ url_for('rotas.profile') }}">Perfil</a></li>
      {% endif %}

      {% if not user %}
        <li><a href="{{ url_for('rotas.login') }}">Login</a></li>
        <li><a href="{{ url_for('rotas.sign_up') }}">Cadastro</a></li>
      {% endif %}

      {% if user and user.tipo.nome in ['organizador', 'admin'] %}
        <li><a href="{{ url_for('rotas.admin') }}">Admin</a></li>
      {% endif %}

      {% if user %}
        <li><a href="{{ url_for('rotas.logout') }}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>