<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil de Usuário</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_bar.css') }}" />
</head>
<body>
  <nav class="navbar">
    <a href="{{ url_for('rotas.inicio') }}">Início</a>
    <a href="{{ url_for('rotas.eventos') }}">Eventos</a>
    {% if user %}
    <a href="{{ url_for('rotas.perfil') }}">Perfil</a>
       <a href="{{ url_for('rotas.logout') }}">Logout</a>
    {% else %}
       <a href="{{ url_for('rotas.login') }}">Login</a>
       <a href="{{ url_for('rotas.cadastro') }}">Cadastro</a>
    {% endif %}
  </nav>
<br>
  <div class="perfil-wrapper">
    <div class="perfil-container">
      <h2>Perfil do Usuário</h2>

      <div class="info-usuario">
        <p><strong>Nome Completo:</strong> {{ user.nome }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
      </div>

      <div class="eventos-inscritos">
        <h3>Eventos Inscritos:</h3>
        {% if inscricoes %}
        <ul>
          {% for ins in inscricoes %}
            <li>
              <a href="{{ url_for('rotas.detalhes_evento', event_id=ins.evento.id_evento) }}">
                {{ ins.evento.titulo }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <p>Você não está inscrito em nenhum evento.</p>
        {% endif %}
      </div>

      <div class="eventos-participados">
        <h3>Eventos Participados:</h3>
        {% if participados %}
        <ul>
          {% for ins in participados %}
            <li>
              <a href="{{ url_for('rotas.detalhes_evento', event_id=ins.evento.id_evento) }}">
                {{ ins.evento.titulo }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <p>Você não participou de nenhum evento.</p>
        {% endif %}
      </div>

      <button class="btn-editar">Editar Perfil</button>
    </div>

    <div class="perfil-lateral">
      <label for="foto-perfil" class="upload-box">
        <input type="file" id="foto-perfil" />
        <p>Inserir foto de perfil</p>
      </label>

      <div class="numero-participacoes">
        <label for="contador-eventos">Número de participações:</label>
        <input type="number" id="contador-eventos"
               value="{{ participados|length if participados is defined else 0 }}"
               readonly />
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>